{% extends 'base.html.twig' %}



{% block body %}
    <div class="container my-5">
        <h1>My Cart</h1>

        <div class="row">
            <div class="col-md-8">
                {% for product in cart %}
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <img src="/upload-dir/{{ product.object.illustration }}" class="img-fluid" alt="{{ product.object.name }}">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ product.object.name }}</strong>
                            <span class="d-block small">unit Price : {{ product.object.pricewt|price }}</span>
                        </div>
                        <div class="col-md-2 text-right">
                            <span class="badge text-bg-dark">x{{ product.qty }}</span>
                        </div>
                        <div class="col-md-2">
                            <strong>{{ (product.qty * product.object.pricewt)|price }}</strong>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-4">
               xx
            </div>
        </div>

    </div>

{% endblock %}
