<style>
    .nav-link {
        transition: background-color 0.3s, color 0.3s;
    }



    .nav-link .icon {
        width: 20px; /* Adjust size as needed */
        height: 20px; /* Adjust size as needed */
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    .text-danger {
        color: #dc3545 !important;
    }

    .text-warning {
        color: #ffc107 !important;
    }
</style>

<ul class="nav flex-column bg-light border rounded p-3 shadow-sm">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('app_account') }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-box">
                <path d="M3.5 0A.5.5 0 0 1 4 0h8a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H12v4a.5.5 0 0 1-.5.5H4A.5.5 0 0 1 3.5 6V3H3a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 3.5 0zM4 2h8v4H4V2zm9.5 6a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h8z"/>
            </svg>
            My Orders
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_addresses') }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-house">
                <path d="M8 .25a.75.75 0 0 1 .75.75V2H12a.75.75 0 0 1 .75.75v2.292a.75.75 0 0 1-.237.553L9.9 8.753v4.443A.75.75 0 0 1 9.15 14H7.65a.75.75 0 0 1-.75-.75V8.753L1.737 5.596A.75.75 0 0 1 1.5 5.25V2.75A.75.75 0 0 1 2.25 2H4v-.25A.75.75 0 0 1 5 .25h6z"/>
            </svg>
            My Addresses
        </a>
    </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_account_wishlist') }}">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-heart">
                    <path d="M4.5 0C2.014 0 0 2.014 0 4.5S2.014 9 4.5 9c.91 0 1.756-.374 2.4-.984.644.61 1.49.984 2.4.984 2.486 0 4.5-2.014 4.5-4.5S12.486 0 10 0c-1.156 0-2.268.43-3.143 1.143C6.268.43 5.156 0 4.5 0zM8 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM3.5 5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                </svg>
                My Wishlist
            </a>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_modify_pwd') }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-lock">
                <path d="M8 1a2 2 0 0 1 2 2v1h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1V3a2 2 0 0 1 2-2zm-3 4h6v4H5V5z"/>
            </svg>
            Change Password
        </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link text-danger" href="{{ path('admin') }}">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-tools">
                    <path d="M1.5 8a.5.5 0 0 1 .396-.354l1.003-.335a.5.5 0 0 1 .595.293l.835 1.669 2.62-.87.868 2.618a.5.5 0 0 1-.293.595l-1.003.335A.5.5 0 0 1 4 12a.5.5 0 0 1-.396-.354l-.335-1.003A.5.5 0 0 1 3.5 9a.5.5 0 0 1 .354-.396l1.003-.335a.5.5 0 0 1 .595.293l.835 1.669 2.62-.87.868 2.618a.5.5 0 0 1-.293.595l-1.003.335A.5.5 0 0 1 8 13a.5.5 0 0 1-.396-.354l-.335-1.003A.5.5 0 0 1 7.5 11a.5.5 0 0 1 .354-.396l1.003-.335a.5.5 0 0 1 .595.293l.835 1.669 2.62-.87.868 2.618a.5.5 0 0 1-.293.595l-1.003.335A.5.5 0 0 1 11 13a.5.5 0 0 1-.396-.354l-.335-1.003A.5.5 0 0 1 10.5 11a.5.5 0 0 1 .354-.396l1.003-.335a.5.5 0 0 1 .595.293l.835 1.669 2.62-.87.868 2.618a.5.5 0 0 1-.293.595l-1.003.335A.5.5 0 0 1 14 13a.5.5 0 0 1-.396-.354l-.335-1.003A.5.5 0 0 1 13.5 11a.5.5 0 0 1 .354-.396l1.003-.335a.5.5 0 0 1 .595.293l.835 1.669 2.62-.87.868 2.618a.5.5 0 0 1-.293.595l-1.003.335A.5.5 0 0 1 15 13a.5.5 0 0 1-.396-.354l-.335-1.003A.5.5 0 0 1 14.5 11a.5.5 0 0 1 .354-.396l1.003-.335a.5.5 0 0 1 .595.293l.835 1.669 2.62-.87.868 2.618a.5.5 0 0 1-.293.595l-1.003.335A.5.5 0 0 1 17 13a.5.5 0 0 1-.396-.354l-.335-1.003A.5.5 0 0 1 16.5 11a.5.5 0 0 1 .354-.396z"/>
                </svg>
                Admin
            </a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link text-warning" href="{{ path('app_logout') }}">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="bi bi-box-arrow-right">
                <path d="M6.5 12.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1zM6 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-1zM4.5 6.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5z"/>
            </svg>
            SignOut
        </a>
    </li>
</ul>
