{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h1>{{ category.name }}</h1>
<p>
{#    {{ category.products|length }}#}
    this category has {{ category.products|length }} product(s).
</p>
    <div class="row">
        {% for product in category.products%}
        <div class="col-md-4 text-center">
            <img src="/upload-dir/{{product.illustration}}" class="img-fluid" />
            <strong>{{ product.name }}</strong>
            <span class="d-block"> {{ product.pricewt  }}</span>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}