{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

    <h3>Order n°{{ order.id }}</h3>
    {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}
    <br/>
    <span>Order Date : {{ order.createdAt|date('d/m/Y') }}</span>
    <br>
    <span>Stripe Session Id : {{ order.stripeSessionId }}</span>

    <div class="row my-4">
        <div class="col-md-6">
            <strong>Adresse de livraison :</strong><br/>
            {{ order.delivery|raw }}
        </div>
        <div class="col-md-6">
            <strong>Transporteur</strong><br/>
            <span>Name:{{ order.carrier }}</span>
        </div>
    </div>

    <strong>Contenu de la commande :</strong><br/>


    {% for product in order.orderDetails %}
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Illustration</th>
            <th scope="col">Name of product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Pricing</th>
            <th scope="col">VAT</th>
            <th scope="col">Price Taxes Inc</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            <tr>
                <td> {{ product.prodcutIllustration }} </td>
                <td> {{ product.product }} </td>
                <td>  {{ product.productQuantity }} </td>
                <td> {{ product.productPrice|price }} </td>
                <td> {{ product.productTva }} </td>
                  {% set coeff= 1+(product.productPrice/100) %}
                <td> {{ ((product.productPrice * coeff)*product.productQuantity)|price }} </td>

            </tr>
        {%endfor%}
        <tr>
            <td></td>
            <td>{{ order.carrier }}</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>{{ order.carrierPrice|price }}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-right fs-4">
        <strong>Total taxes Not Inc. </strong>{{ (order.totalWt-order.totalTva)|price }}
        <br>
        <strong>Total VAT</strong>{{ order.totalTva|price }}
        <br>
        <strong>Total taxes Inc: </strong>{{ order.totalWt|price }}
    </div>

{% endblock %}