{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

    <h3>Commande n°{{ order.id }}</h3>
    {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}
    <br/>
    <span>Passée le {{ order.createdAt|date('d/m/Y') }}</span>

    <div class="row my-4">
        <div class="col-md-6">
            <strong>Adresse de livraison :</strong><br/>
            {{ order.delivery|raw }}
        </div>
        <div class="col-md-6">
            <strong>Transporteur</strong><br/>
            {{ order.carrierName }}
        </div>
    </div>

    <strong>Contenu de la commande :</strong><br/>
    {{ dump(order) }}

    {% for product in order.orderDetails %}
        {{ dump(product) }}
    {% endfor %}

{% endblock %}