<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Education Platform</title>
    <meta name="description" content="Education Platform">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/carousel.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% for category in allcategories %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('app_category',{slug:category.slug}) }}>{{ category.name }}</a>
                    </li>
                    {% endfor %}

                </ul>
                <div class="speed-menu">

                    {% if app.user %}
                        <a href={{ path('app_account') }}><i data-feather="user"></i></a>
                        <a href={{ path('app_logout') }}><i data-feather="log-out"></i></a>
                        {% else %}
                            <a href="/connexion"><i data-feather="user"></i></a>
                    {% endif %}
                    <a href={{ path('app_cart') }}><i data-feather="shopping-cart"></i>
                    <span class="badge text-bg-light">{{ fullCartQuantity }}</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-4 container">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{%block body%}{% endblock %}
    <footer class="mt-5 pe-3 float-end" data-bs-theme="dark">
        <p >&copy; 2024–2024 Education Platform </p>
    </footer>
</main>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/global.js"></script>
</body>
</html>
