{% extends 'base.html.twig' %}



{% block body %}
    <div class="container my-5 small-container">
        <h1>My Order</h1>

        {{ form_start(deliveryform) }}
            {{ form_row(deliveryform.addresses) }}
        <a class="btn btn-outline-info small " href="{{ path('app_account_address_form') }}">Add a delivery address</a>
            <hr class="mt-5">
            {{ form_row(deliveryform.carrier) }}
        {{ form_end(deliveryform) }}

    </div>

{% endblock %}

